<div class="grey top-space">
    <div class="row">
        <div class="col-xs-12">
            <h4>Comenta</h4>            
        </div>
        <div class="col-xs-12 text-right">
          <%= @article.comments.count%> comentario(s)
        </div>
    </div>

    <div class="text-cente col-xs-12  top-space" >
        <%= render "comments/form" %>
    </div>
    <div class="top-space text-center">
        <%= will_paginate @comments, renderer: BootstrapPagination::Rails, :previous_label => t("<< Anterior"), :next_label => t("siguiente >>") %>
    </div>
    <div class="text-cente col-xs-5 r top-space " id="comments-box">
        <%= render @comments %>
    </div>

</div>