<div class="container-fluid text-center">   
<h1 class="grey"> Articulos</h1>
    <div class="row">
        <% @articles.each do |article| %>
            <div class=" col-md-4 top-space">
                <div class="box relative article-height">
                    <div class="absolute article-height background-cover" style="background:url(<%= article.cover.url(:thumb) %>);top:0px;left:0px;width:100%;">
                    </div>
                        <div class="absolute article-height background-cover" style="background:rgba(0,0,0,0.5);top:0px;left:0px;width:100%;">
                    </div>         
                    <div class="relative  text-center">
                            <h2 class="blue" ><%=link_to article.title, article, class:"title" %></h2><br>
                            <p class="be-grey text-center">
                                <%= truncate(article.body ,length:50,escape: false ) %> 
                            </p> 
                    </div>
                </div>
                
            </div>
        <%end%>   
    </div>
    <div class="top-space text-center">
        <%= will_paginate @articles %> 
    </div>
</div>
