
<header>
    
    <section class="main text-center container">
        <div class="row">
         <div class=" jumbotron">
            <H4>CONTACTA CON NOSOTROS</H4>
            <div class= "contact ">
                <H1 class="container">dplb.mx@gmail.com</H1>
            </div> 
         </div>       
            

            <br>
<!-- 
            <form action="#" name="formulario" method="get">
                <input type="text" name="nombre" id="nombre" maxlength="30" placeholder="Nombre:" >
                <br><br>
                
                <input type="text" name="nombre" id="nombre" maxlength="30" placeholder="Email" >
                <br><br>
                
                <textarea name="message" rows="10" cols="30"> Mensaje</textarea>
                <br>
                    
                <input type="submit" id="btn" name="btn" value="Enviar">                            
            </form>
            <br>  -->  

        </div>  
    </section>

</header>


		