.navbar {
	margin-bottom: 0 !important; 	
}
.baner {
	background: #051825 !important;
	margin: 0px;
}
.navbar-inverse{
	background: #051825 !important;
}
.small{
	color: #2E6678 !important;
}
.footer {
	background: #051825 !important;
	color: #3C99A5 !important;
	padding: 5px 0;
	bottom: 0;
	position: relative;
	height: 50px;
}
.main {
    margin-top: 50px !important;
    margin-bottom: 700px !important;
}
.a,a:hover{
	color: #D0BDBD !important;
}
.content {
	position: relative;
}
.be-big {
	font-size: 3em ; 
}
.blue{
	background: #051825 !important;
	margin-top: 20px;
}
.be-small{
	font-size: 11px;
}
.underline{
	text-decoration: underline;
}
.black{
	color: #042A3E !important ;
}
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-space {
    margin-top: 2em ;
}
.be-grey{
	color: #FBE9E9 !important;
}
.field {
    margin-top: 1em;
}
.grey{
	color: #10213E!important;
}
.hidden{
	display: none;
}
.thumbnail{
	padding: 0px !important;
	margin-bottom: 0px !important;
	background-color: #983987 !important;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.article-height{
	height: 150px;
}
.background-cover{
	background-position: center !important;
	background-size: cover;
}
.text-justify{
	text-align: justify;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.bottom-space{
	margin-bottom: 2em;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
.title{
	color: #56626D;
}
.btn-login{
	background: #051825 !important;
	color: #BDB6B6 !important;
}
.btn-login-1{
	color: #BDB6B6 !important;
}
.btn-coment{
	padding: 9px 150px !important;
	background: #051825 !important;
	color: #BDB6B6 !important;
}
.pagination{
	background: #051825 !important;
	color: #BDB6B6 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  
    color: #fff !important;
    background-color: #051825 !important;
    border-color: #000000 !important;

}
.pagination > li > a, .pagination > li > span {
    color: #3A3939 !important;
    background-color: #fff;
    border: 1px solid #000000;
}