<!DOCTYPE html>
<html>
<head>
	
	<title>Makeupfx</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>


	


<body>
<header>
	

	<form action="datos_personales.php" method="post">
		Nombre: <input type="text" name="nombre">
		Contraseña: <input type="password" name="secreto">
		<input type="submit" value="Enviar">
		<input type="reset" value="Borrar">
	</form>

	

	<form action="archivo.php" method="post">
		Ingrese la foto: <input type="file" name="foto">
	</form>



</header>

</body>


</html>